div#carouselIndicators{
    max-width: 900px;
    margin:auto;
}

h5.card-title {
    text-align: center;
    font-size: 4rem;
    color: white;
}

body {
    background-color: rgb(33, 37, 41);
}

section {
    color: white;
}

div.card-body {
    background-color: rgb(33, 37, 41);
    color: white;
}